[Unit]
Description=analogecams gst.sh 8
After=multi-user.target

[Service]
User=analogecams
WorkingDirectory=/usr/local/analoge-cams-helper-scripts/log
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/local/analoge-cams-helper-scripts/gst.sh 8
TimeoutStopSec=1

[Install]
WantedBy=multi-user.target
